body {
   
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #00246c;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    
    font-size: 2.5em;
}

p {
    
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 15px;
}

h2 {
    padding: 20px 0;
    font-size: 2.2em;
   
}
h3 {
    font-size: 1.2em;
    padding: 20px 0;
    font-weight:bold;
 }
 
 a:link {
     color: #bfefff;
     text-decoration:none;
 }
  
 a:visited {
     color: #bfefff;
 }
 
 a:hover {
     color: #4372ff;
 }
 .container {
    width: auto;
    margin: 0 auto;     /*Center*/
    overflow: hidden;
    
}
 #head{
   margin-bottom: 30px;
   overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow: visible;
    text-align: left;
    background: url(assets/79731568097599.5b50bca477735.jpg)no-repeat center top fixed;
    background-size:contain;
    
    
 }
 #head h1, h5{
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    margin-left: 40px;
    color: #020301;
    padding:1%;
    border-radius: 20px;
    
 }
 #welcome {
  height: auto;
  
 }
 #welcome h1{
  margin-top: 10px;
  text-align: center;
 }

 .box-container {
  
  grid-template-columns: auto auto; /* Adjust the column widths as needed */
  justify-content:flex-start;
  align-items: flex-start; /* Aligns items to the left */
  
  }
  
  
  .grid-box {

    
    padding-left: 10px;
    padding-right: 10px;
    
    border-radius: 10px;
    background-color: rgba(0, 7, 59, 0.9);
    padding-top: 10px;
    padding-bottom: 50px;
    
    
  }
  
  .left {
    /* Adjust the background color as desired */
    text-align: center;
    
  }
 #why h2, #hello_code h2 , #Conclusion h2{
  padding:20px;
  border-radius: 10px;
  background-color: #4372ff;

 }
 
 #why .pro, #hello_code .pro , #Conclusion .pro{
  padding:20px;
  border-radius: 10px;
  background-color: #001031;
 }
 #footer {
  background-color: #475fff;
  font-size: 1.1em;
  color: #000000;
  text-align: center;
  padding: 20px;
  
}
 #footer a:hover{
  filter: brightness(20%);
 }
 #hello_c {
  background-color: #272727;
  color: white;
  font-size: large;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  border-radius: 10px;
 }

#footer img{
  background-color: rgba(255, 255, 255, 0.2);
 padding:10px; 
 border-radius: 20px;
 max-height: 50px;

 
}
#start {
  height: auto;
  
}
.link-list {
  padding: 0;
  list-style: none; /* Remove the default bullet point */
  text-align: center;
  background-color: #00246c;
  border-radius: 10px;
  
  
}

.link-list li {
  font-size: 18px; /* Adjust the font size as desired */
  border-bottom: solid black 2px;
}

.link-list li a {
  
  text-decoration: none; /* Remove underline from the links */
}

#start h2{
  padding:20px;
  border-radius: 10px;
  background-color: #4372ff;

 }
 #start .pro{
  line-height: 50px;
  padding:20px;
  border-radius: 10px;
  background-color: #001031;
 }
 
 
  #start a:hover{
    
    color: lightblue;
    filter: brightness(80%);
  }
  
  @keyframes hop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the distance the text hops up */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .hop {
    animation: hop 2.2s infinite; /* Adjust the animation duration as needed */
  }
  .shadowed-text {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Adjust the shadow properties as needed */
  }
  #helloworld p, #Conclusion p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  
  
  